main{
    display: flex;
    justify-content: start;
    align-items: start;
}

.barraLateral{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 20vw;
    height: 100vh;
    flex-direction: column;
    border-right: 1px solid rgb(124, 135, 189);
    box-shadow: 8px 0 25px -6px rgb(120, 135, 212); 
}

.conteudoPrincipal {
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

#iconMaster{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 20vw;
    height: 5vh;
    margin-left: 2vw;
    margin-top: 1vh;
    font-size: 3.5vh;
}

.menus-container{
    height: 6vh;
    width: 20vw;
    font-size: 2.25vh;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: 0.4s;
}

.menus-container:hover{
    background-color: rgb(8, 21, 84);
    cursor: pointer;
    color: white;
}


.iconMenus{
    color: rgb(8, 21, 84);
    margin-left: 2vw;
    margin-right: 0.5vw;
    transition: 0.4s;
}

.menus-container:hover .iconMenus i {
    color: white;
}

.separador{
    height: 0.1vh;
    width: 18vw;
    background-color:rgb(8, 21, 84);
}

.titulosMenus{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 1.5vw;
    margin-top: 1.5vh;
    margin-bottom: 0.5vh;
    width: 20vw;    
    color: rgb(161, 161, 161);
}

.barraLateral a {
    color: inherit;
    text-decoration: none; 
}

#sair{
    transition: 0.4s;
}

#sair:hover{
    background-color: red;
}

.tituloTop{
    height: auto;
    width: auto;
    margin-top: 5vh;
    margin-left: 15vh;
}

.conteudo-container{
    height: 90vh;
    width: 79.9vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxCadastrados{
    width: 65vw;
    height: 65vh;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 20px;
    box-shadow: 2px 6px 8px rgba(8, 21, 84, 0.20), 2px 6px 8px rgba(8, 21, 84, 0.20);
}

.boxCadastradosTop{
    width: 65vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(178, 178, 178);
}

.busca-container{
    height: 10vh;
    width: 32.5vw;
    display: flex;
    align-items: center;
    justify-content: start;
}

#inputBusca{
    width: 25vw;
    height: 5vh;
    margin-left: 2vh;
    border-radius: 5px;
    border: 1px solid rgb(8, 21, 84);
    padding-left: 1.5vh;
    position: absolute;
}

#iconLupa{
    color: rgb(8, 21, 84);
    margin-left: 25vw;
    position: absolute;
    cursor: pointer;
}

.filtra-container{
    height: 10vh;
    width: 22vw;
    display: flex;
    justify-content: end;
    align-items: center;
}

#iconFiltro{
    color: rgb(8, 21, 84); 
    cursor: pointer;
    transition: 0.4s;
}

#iconFiltro:hover{
    color: rgb(95, 106, 160);
}

.botaoCadastro-container{
    height: 10vh;
    width: 10.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#botaoCadastro{
    height: 6vh;
    width: 7vw;
    background-color: rgb(8, 21, 84);
    color: white;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
}

#botaoCadastro:hover{
    background-color: rgb(95, 106, 160);
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2;}
  
  tr:hover {background-color: #ddd;}
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(8, 21, 84);
    color: white;
  }