.boxCadastrados{
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.image-container{
    width: 32.5vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.infos-container{
    width: 32.5vw;
    height: 80vh;
    border-right: 1px solid rgb(8, 21, 84);
}

.boxImage{
    width: 25vw;
    height: 40vh;
    border: 1px solid rgb(8, 21, 84);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#addImage{
    background-color: rgb(8, 21, 84);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 5vh;
    border: 1px solid rgb(8, 21, 84);
    width: 8vw;
    height: 3vh;
    font-weight: bolder;
    transition: 0.4s;
}

#addImage:hover{
    background-color: rgb(124, 135, 189);
    color: rgb(8, 21, 84);
    border: 1px solid rgb(124, 135, 189);
}

.inputsCadastro-container{
    width: 32.5vw;
    height: 10vh;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.tituloInput{
    margin-left: 2.5vw;
    margin-bottom: 1.5vh;
}

.inputsCadastro{
    padding-left: 0.4vw;
    width: 26vw;
    height: 3vh;
    margin-left: 2.5vw;
    border-radius: 5px;
    border: 1px solid rgb(8, 21, 84);
}

#textarea{
    resize: none;
}

#buttonAddLab{
    background-color: rgb(8, 21, 84);
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(8, 21, 84);
    font-weight: bolder;
    height: 5vh;
    width: 10vw;
    cursor: pointer;
    transition: 0.4s;
}

#buttonAddLab:hover{
    background-color: rgb(124, 135, 189);
    color: rgb(8, 21, 84);
    border: 1px solid rgb(124, 135, 189);
}

#deleteImage{
    background-color: red;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 5vh;
    border: 1px solid red;
    width: 8vw;
    height: 3vh;
    font-weight: bolder;
    transition: 0.4s;
}

#deleteImage:hover{
    background-color: rgb(255, 109, 109);
    border: 1px solid rgb(255, 109, 109);
    color: rgb(105, 12, 12);
}